{% extends 'base.html' %}
{% load crispy_forms_tags %} <!-- crispy formunu html dosyamızda kullanmamızı sağlar-->


{% block title %} Yazı Ekle {% endblock %}


{% block content %}

    <form action="{% url 'yazi-ekle' %}" enctype="multipart/form-data" method="POST"> <!-- buradaki enctype eger formumuzda medya dosyalarımız resim vs gidicek -->
        {% csrf_token %} <!-- güvenlikten kaynaklı eklenmezse form uygulaması gönderilince hata gösterir -->
        {{form.media}} <!-- ck editörü sitemize ekler-->
        {{ form|crispy }} <!-- crispy form 3. parti bootstrap kutuphanesidir iletisim ekranının daha iyi görünmesine olanak saglar-->
        <input type="submit" class="btn btn-danger mt-3 mb-3" value="Yazı Oluştur">
    </form>

{% endblock %}