{% load kategori_list %} <!-- veritabanında  gelen verileri navbar ekranına load ettik yükledik-->
{% kategori_list as kategoriler %} <!-- veritabanından gelen sorguyu direk kullanamıyoruz bu yüzden ismini değiştirip ekrana çıktıyı yazdırabiliriz -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'anasayfa' %}">Blog</a> <!-- eğer Blog yazısına tıklanırsa anasayfaya götürülecek-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% for kategori in kategoriler %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'kategori' kategoriSlug=kategori.slug %}">{{kategori}} <span class="sr-only">(current)</span></a>
          </li>
          {% endfor%}
          
        </ul>
        <form action="{% url 'anasayfa' %}" class="form-inline my-2 my-lg-0"> <!-- action kısmı sayesinde searchbarda aranan kelime anasayfa.html sayfasına gönderilecek-->
          <input class="form-control mr-sm-2" name="sorgu" type="search" placeholder="Search" aria-label="Search"> <!-- name="sorgu" bölümü navbardaki search bara girilen inputu alır-->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>