{% extends 'base.html' %}
{% load crispy_forms_tags %} <!-- crispy formunu html dosyamızda kullanmamızı sağlar-->


{% block title %} Şifre Değiştir {% endblock %}


{% block content %}
    {% include 'components/message.html'%} <!-- işlem başarılı olursa mesaj döndürür-->

    <form enctype="multipart/form-data" method="POST"> <!-- buradaki enctype eger formumuzda medya dosyalarımız varsa (resim vs.) sistemde avatar güncellemesi yapılabilecek -->
        {% csrf_token %} <!-- güvenlikten kaynaklı eklenmezse form uygulaması gönderilince hata gösterir -->
         <!-- ck editörü sitemize ekler-->
        {{ form|crispy }} <!-- crispy form 3. parti bootstrap kutuphanesidir iletisim ekranının daha iyi görünmesine olanak saglar-->
        <input type="submit" class="btn btn-danger mt-3 mb-3" value="Şifre Değiştir">
    </form>

{% endblock %}